<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-5">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
            <h2 class="text-center">{{'ForgotPassword' | translate }}</h2>
            <hr>

            <!-- Any error -->
            <div *ngIf="serverError" class="alert alert-danger">
              {{ serverError | translate}}
            </div>

            <!-- User name or email -->
            <div class="mb-3">
              <label for="identifier">{{'UsernameOrEmail' | translate }}</label>
              <input type="text" pInputText formControlName="identifier" class="form-control">
              <div *ngIf="forgotPasswordForm.get('identifier')?.errors && forgotPasswordForm.get('identifier')?.touched"
                class="text-danger">
                <p *ngIf="forgotPasswordForm.get('identifier')?.hasError('required')">{{'UsernameOrEmailRequired' |
                  translate }}</p>
              </div>
            </div>

            <!-- Buttons -->
            <div class="text-center">
              <p-button [disabled]="!forgotPasswordForm.valid" styleClass="p-button-oranged me-2"
                type="submit">{{'ResetPassword' | translate }}</p-button>
              <p-button styleClass="p-button-danger" (click)="cancel()" type="button">{{'Cancel' | translate
                }}</p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
