<header class="navbar navbar-expand-md navbar-dark bd-navbar nav-header">
  <nav class="container-fluid flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <!-- KJ brain logo -->
    <a class="navbar-brand logo" routerLink="/home" routerLinkActive="active">
      <span class="kj-text">KJ</span>
      <img [src]="'./assets/images/brain-icon.png'" class="brain-icon" />
      <span class="developer-text">Developer</span>
    </a>

    <!-- toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
      aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-lg mx-2"></i>
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
      <!-- links -->
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <!-- ng-container for authorized links -->
        <ng-container *ngIf="accountService.currentUser$| async">
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link" routerLink="/game" routerLinkActive="active">{{'Game' | translate }}</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link" routerLink="/daily-task" routerLinkActive="active">{{'DailyTask' | translate }}</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link" routerLink="/practice" routerLinkActive="active">{{'Practice' | translate }}</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link" routerLink="/stats" routerLinkActive="active">{{'Stats' | translate }}</a>
          </li>
        </ng-container>
      </ul>

      <hr class="d-md-none text-white-50">
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">

        <!--  User settings dropdown -->
        <div *ngIf="(accountService.currentUser$ | async) as user" class="dropdown dropstart">
          <a class=" dropdown-toggle text-light text-decoration-none ms-2 profile-dropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img [src]="'./assets/images/avatar/' + user.avatarId + '.svg'" style="width: 50px" />
          </a>
          <ul class="dropdown-menu dropdown-menu-dark mt-2">
            <li><a class="dropdown-item" routerLink="/user/edit">{{ 'Profile' | translate }}</a></li>
            <li><a class="dropdown-item" (click)="logout()">{{ 'Logout' | translate }}</a></li>
          </ul>
        </div>

        <!--  Login button -->
        <li *ngIf="!(accountService.currentUser$ | async)" class="nav-item col-6 col-md-auto mt-2">
          <p-button styleClass="p-button-oranged" class="my-2 my-md-0 ms-md-3" routerLink="/login"> {{'Login' | translate }} </p-button>
        </li>

        <!--  Register button -->
        <li *ngIf="!(accountService.currentUser$ | async)" class="nav-item col-6 col-md-auto mt-2 me-3">
          <p-button styleClass="p-button-oranged" class="my-2 my-md-0 ms-md-3" routerLink="/register"> {{'Registration' | translate }} </p-button>
        </li>

        <!--  Language switch -->
        <li *ngIf="!(accountService.currentUser$ | async)" class="nav-item col-6 col-md-auto mt-2 me-3">
          <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" [style]="{'width':'150px'}">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center" *ngIf="selectedLanguage">
                <img [src]="'./assets/images/languages/' + selectedLanguage.code + '.png'" style="width: 20px" />
                <span class="mx-2">{{ selectedLanguage.name | translate }}</span>
              </div>
            </ng-template>
            <ng-template let-language pTemplate="item">
              <div class="flex align-items-start text-start" (click)="switchLang(language.code)">
                <img [src]="'./assets/images/languages/' + language.code + '.png'" style="width: 20px" />
                <span class="mx-2">{{ language.name | translate }}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </li>
      </ul>
    </div>
  </nav>
</header>
