<div class="conatiner">
  <h1 class="text-center bold-element mt-3">{{'Practice' | translate }}</h1>
  <div class="row col-10 mt-1 mx-auto">
       <!--  MemoryCard -->
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mx-auto mb-3 ">
      <div class="card mx-auto">
        <div class="card-body">
          <img [src]="'./assets/images/games/memory-card.png'" class="game-image" />
          <h2>{{'MemoryCard' | translate }}</h2>
          <p-button styleClass="p-button-oranged" routerLink="/memory-card-settings">{{'Game' | translate }}</p-button>
        </div>
      </div>
    </div>
       <!--  MemorySound -->
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mx-auto mb-3 ">
      <div class="card mx-auto">
        <div class="card-body">
          <img [src]="'./assets/images/games/memory-sound.png'" class="game-image" />
          <h2>{{'MemorySound' | translate }}</h2>
          <p-button styleClass="p-button-oranged" routerLink="/memory-sound-settings">{{'Game' | translate }}</p-button>
        </div>
      </div>
    </div>
   <!--  MemoryNumber-->
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mx-auto mb-3 ">
      <div class="card mx-auto">
        <div class="card-body">
          <img [src]="'./assets/images/games/memory-card.png'" class="game-image" />
          <h2>{{'MemoryNumber' | translate }}</h2>
          <p-button styleClass="p-button-oranged" routerLink="/memory-number-settings">{{'Game' | translate }}</p-button>
        </div>
      </div>
    </div>
   <!--  MemoryMatrix -->
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mx-auto mb-3 ">
      <div class="card mx-auto">
        <div class="card-body">
          <img [src]="'./assets/images/games/memory-card.png'" class="game-image" />
          <h2>{{'MemoryMatrix' | translate }}</h2>
          <p-button styleClass="p-button-oranged" routerLink="/memory-matrix-settings">{{'Game' | translate }}</p-button>
        </div>
      </div>
    </div>
   <!--  Math -->
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mx-auto mb-3 ">
      <div class="card mx-auto">
        <div class="card-body">
          <img [src]="'./assets/images/games/memory-card.png'" class="game-image" />
          <h2>{{'Math' | translate }}</h2>
          <p-button styleClass="p-button-oranged" routerLink="/math-settings">{{'Game' | translate }}</p-button>
        </div>
      </div>
    </div>

  </div>
</div>
