<div class="row justify-content-center mt-2">
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <!--  Memory -->
    <div class="card memory-container text-center mt-2 mb-2">
      <h1 class="skill-group-title">{{'Memory' | translate }}</h1>
      <h4>{{'MemoryDescription' | translate }}</h4>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-2">
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <!--  Speed -->
    <div class="speed-container text-center">
      <h1>{{'Speed' | translate }}</h1>
      <h4>{{'SpeedDescription' | translate }}</h4>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-2">
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <!--  Logic -->
    <div class="logic-container text-center">
      <h1>{{'Logic' | translate }}</h1>
      <h4>{{'LogicDescription' | translate }}</h4>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-2">
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <!--  Math -->
    <div class="math-container text-center">
      <h1>{{'Math' | translate }}</h1>
      <h4>{{'MathDescription' | translate }}</h4>
    </div>
  </div>
</div>
