<div class="container">
  <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()" autocomplete="off">
    <h3 class="text-center mt-2">{{'ChangeEmail' | translate }}</h3>
    <hr>
<!-- Any error -->
    <div *ngIf="serverError" class="alert alert-danger">
      {{ serverError | translate}}
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="email"> {{'Email' | translate }} </label>
      <input type="text" pInputText [style]="{'width':'100%'}" formControlName="email">
      <div *ngIf="changeEmailForm.get('email')?.errors && changeEmailForm.get('email')?.touched" class="text-danger">
        <p *ngIf="changeEmailForm.get('email')?.hasError('required')">{{'EmailRequired' | translate }}</p>
        <p *ngIf="changeEmailForm.get('email')?.hasError('email')"> {{'InvalidEmailFormat' | translate }}</p>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password">{{'Password' | translate }}</label>
      <p-password type="password"  [toggleMask]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" formControlName="password" styleClass="hide-password-panel" ></p-password>
      <div *ngIf="changeEmailForm.get('password')?.errors && changeEmailForm.get('password')?.touched" class="text-danger">
        <p *ngIf="changeEmailForm.get('password')?.hasError('required')"> {{'PasswordRequired' | translate }}</p>
        <p *ngIf="changeEmailForm.get('password')?.hasError('minlength')"> {{'InvalidPasswordFormat' | translate }}</p>
      </div>
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <p-button [disabled]="!changeEmailForm.valid" class="me-2" type="submit">{{'Edit' | translate }}</p-button>
      <p-button styleClass="p-button-danger" (click)="cancel()" type="button">{{'Cancel' | translate }}</p-button>
    </div>
  </form>
</div>
