<div class="header text-center">
  <h1 class="mt-1 mx-auto main-title">{{ 'HomeModule.Discover' | translate }}</h1>
  <h4 class="mt-2 mx-auto description-text">{{ 'HomeModule.Description' | translate }}</h4>

  <h5 class="mt-5 mx-auto" >{{ 'HomeModule.SpeedDescription' | translate }}</h5>
  <h5 class="mx-auto">{{ 'HomeModule.MemoryDescription' | translate }}</h5>
  <h5 class="mx-auto ">{{ 'HomeModule.LogicDescription' | translate }}</h5>
  <h5 class="mx-auto mb-5">{{ 'HomeModule.MathDescription' | translate }}</h5>

  <p-button styleClass="p-button-oranged me-2 mt-5" routerLink="/register">{{'HomeModule.GetStarted' | translate
  }}</p-button>
<p class="mt-2">{{ 'HomeModule.Free' | translate }}</p>

</div>


