<div class="header ">
  <div class="row text-center">
    <h1 class="mt-5 mx-auto main-title">{{ 'HomeModule.Discover' | translate }}</h1>
  </div>
  <div class="row text-center">
    <h4 class="mt-4 mx-auto description-text">{{ 'HomeModule.Description' | translate }}</h4>
  </div>
  <div class="row text-center">
    <div class="button-container mx-auto">
      <button routerLink="/register" class="glow-on-hover mt-3" style="  background-color: #00ffd5;">{{ 'HomeModule.GetStarted' | translate
        }}</button>
    </div>

  </div>
  <div class="row text-center mt-4 mb-3">
    <p>{{ 'HomeModule.Free' | translate }}</p>
  </div>
</div>
