<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-5">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
            <h2 class="text-center bold-element">{{'ResetPassword' | translate }}</h2>
            <hr>

            <!-- Any error -->
            <div *ngIf="serverError" class="alert alert-danger">
              {{ serverError | translate}}
            </div>

            <!-- New password -->
            <div class="mb-3">
              <label for="newPassword">{{'NewPassword' | translate }}</label>
              <p-password type="password" [toggleMask]="true" inputStyleClass="form-control" [style]="{'width':'100%'}"
                formControlName="newPassword"></p-password>
              <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched"
                class="text-danger">
                <p *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')"> {{'PasswordRequired' | translate
                  }}</p>
                <p *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')"> {{'InvalidPasswordFormat' |
                  translate }}</p>
              </div>
            </div>

            <!-- Confirm password -->
            <div class="mb-3">
              <label for="confirmPassword">{{'ConfirmPassword' | translate }}</label>
              <p-password type="password" [toggleMask]="true" inputStyleClass="form-control" [style]="{'width':'100%'}"
                formControlName="confirmPassword" styleClass="hide-password-panel"></p-password>
              <div
                *ngIf="resetPasswordForm.get('confirmPassword')?.errors && resetPasswordForm.get('confirmPassword')?.touched"
                class="text-danger">
                <p *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"> {{'ConfirmPasswordRequired' |
                  translate }}</p>
                <p *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('isMatching')"> {{'PasswordNotMatch' |
                  translate }}</p>
              </div>
            </div>

            <!-- Buttons -->
            <div class="text-center">
              <p-button [disabled]="!resetPasswordForm.valid" styleClass="p-button-oranged me-2"
                type="submit">{{'ResetPassword' | translate }}</p-button>
              <p-button styleClass="p-button-danger" (click)="cancel()" type="button">{{'Cancel' | translate
                }}</p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
