
/* managing primeng inputs size to max*/
.max-width {
  width: 100%;
}

/* labeled primeng inputs fix*/
.p-labeled-input>* {
  display: block;
}

/* Togglebutton settings*/
.p-togglebutton {
  background-color: #a82e1e !important;
  color: white !important;
  border-color: aliceblue !important;
}

.p-togglebutton.p-highlight {
  background-color: #007bff !important;
  color: white !important;
  border-color: aliceblue !important;
}


/* Password component doesn't have password-panel (weak, medium, strong) */
.hide-password-panel .p-password-panel {
  display: none !important;
}

/* Dialog styles */
.p-dialog {
  border: 1px solid #134D55;
}

.p-dialog .p-dialog-content {

  background-color: #ced3c6ee !important;
  color: black !important;
  padding: 0 !important;
  padding-bottom: 10px !important;
  overflow-wrap: anywhere;
}

.p-dialog .p-dialog-header {
  background-color: #ced3c6ee !important;
  color:black !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: black !important;
}

.p-dialog .p-dialog-footer {
  background-color: #ced3c6ee !important;
  color: black !important;
}

/* tab styles */
.p-tabview-panels {
  background-color: #585759 !important;
  color: white !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background-color: #585759;
  color: white
}

.p-tabview .p-tabview-nav {
  border: none;
}

/* Remove focus*/
.p-tabview-nav-link:focus,
.p-datatable .p-sortable-column:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* change focus*/
.p-focus,
.p-link:focus {
  border: 1px solid #3B82F6 !important;
  box-shadow: 0 0 0 0.1rem rgba(147, 185, 224, 0.5) !important;
  outline: none !important;
}

.p-inputtext:enabled:focus {
  border-color: aliceblue !important;
}

/* Confirm buttons styles for primeng confirm dialog */
.confirmation-yes-button {
  background-color: #218838;
  color: white !important;
  border-color: #24d824;
}

.confirmation-no-button {
  background-color: #C82333;
  color: white !important;
  border-color: #c47e16;
}

/* oranged button */
.p-button-oranged {
  background: rgb(207, 107, 24) !important;
  color: white!important;
  font-size: 20px;
  border-color: transparent !important;
  padding: 10px !important;
}
.p-button-oranged:enabled:hover {
  background: rgb(153, 80, 20) !important;
  color: white!important;
  border: 1px solid white !important;
  font-size: 20px;
}



/* danger button */
.p-button.p-button-danger{
  background: rgb(214, 33, 33) !important;
  color: white!important;
  font-size: 20px;
  border-color: transparent !important;
  padding: 10px !important;
}

.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger>.p-button:enabled:hover,
.p-splitbutton.p-button-danger>.p-button:enabled:hover {
  background: #a02e1f !important;
  color: white !important;
  border-color: white !important;
}


/* success button */
.p-button.p-button-success{
  background: rgb(46, 139, 37) !important;
  color: white!important;
  font-size: 20px;
  border-color: transparent !important;
  padding: 10px !important;
}

.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success>.p-button:enabled:hover,
.p-splitbutton.p-button-success>.p-button:enabled:hover {
  background: #234723!important;
  color: white !important;
  border-color: white !important;
}

/* prime ng file-upload button hover */
.p-file-upload:hover {
  background: #3b629c !important;
  color: white !important;
  border-color: white !important;
}

/* remove focus shadow */
.p-button.p-button-danger:enabled:focus,
.p-button.p-button-success:enabled:focus,
.p-button:focus {
  box-shadow: none !important;
}

/* Set focus outline on all primeng elements */
.p-inputtext:enabled:focus,
.p-dropdown:enabled:focus {
border-color: #3B82F6 !important;
box-shadow: none !important;
}
